#lang{
    width: 100px;
    height: 0px;
    position: relative;
    float: right;
    top: 32px;
    left: 39px;
}
#head-title{
  width: 200px;
  height: 0px;
  position: relative;
  top: 4px;
  left: 0px;
  font-size: 18px !important;
}

#main-nav{
  margin-left: 180px;
}