{% if site.twitter_user %}
<section class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/leylakapi" data-widget-id="439412434512515072">Tweetes by @leylakapi</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</section>

{% endif %}