<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="/blog/archives">Archives</a></li>
<li {% if page.navbar == 'About' %}class="active"{% endif %}><a href="/about/index.html">About</a></li>
<li {% if page.navbar == 'Projects' %}class="active"{% endif %}><a href="https://github.com/leylaKapi?tab=repositories" target="_blank">Projects</a></li>
<li {% if page.navbar == 'Keep Notes' %}class="active"{% endif %}><a href="https://gist.github.com/leylaKapi" target="_blank">Keep Notes</a></li>
